@charset "utf-8";


body{

}


img{

}


.about-title {
    margin-bottom: 24px;
    
    color: red;
    text-align: center;
}

.area-title{
    color :blue;
}


/* NEWS */

.news-list {
    display: flex;
}

.news-item{
    min-width:33.333%;
    width:33.333%;
    flex:0 0 33.333%

} 




/* ---------------

CSSを適用していく時は、下記テンプレートをコピペして
波括弧の間に命令を書くようにしましょう！

↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ここからテンプレート ↓↓↓↓↓↓↓↓↓↓↓↓↓↓

.nickname{

}

↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ここからテンプレート ↑↑↑↑↑↑↑↑↑↑↑↑↑↑

---------------*/

/*画面全体の基本設定*/

/*画像を伸縮させるために必要*/
